.sideBar {
  width: 8%;
  padding: 1.25% 2%;
  background-color: red;
  color: white;
  height: 100vh;
  text-align: center;
  .title {
    height: 10%;
    h4 {
      margin-top: 0;
    }
    img {
    }
  }
}
